
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding: 7px;
  background-color:rgb(250,250,250);
}

img.bw_logo{
	width:50px;
	padding:0px;
}

img.bw_logo_button{
	width:25px;
	padding:0px;
}

